accelerate==0.21.0
gradio==3.39.0
matplotlib==3.7.1
numpy==1.23.5
onnxruntime_gpu==1.14.0
opencv_contrib_python==4.7.0.72
opencv_python==4.5.5.64
pandas==1.4.2
Pillow==10.0.0
pymilvus==2.2.13
PyYAML==6.0.1
redis==4.6.0
Requests==2.31.0
scikit_learn==1.0.2
torch==2.0.1+cu118
tqdm==4.63.1
transformers==4.31.0
